<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Ninjas</title>
</head>
<body>
    <table>
        <thead>
            <h1>{{dojo_instance.name}} Ninjas</h1>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for one_participant in dojo_instance.participants %}
            <tr>
                <td>{{one_participant.first_name}}</td>
                <td>{{one_participant.last_name}}</td>
                <td>{{one_participant.age}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>