<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Dojo</h1>
        <form action="/dojos/create" method="post">
        <p>Name</p>
        <input type="text" name="name" id="name">   
        <button>Create</button>
    </form> 
    <h1>All dojos</h1>
    {% for one_dojo in all_dojos %}
    <p><a href="/dojos/{{one_dojo.id}}/view">{{one_dojo.name}}</a></p>
    {%endfor%}
    <h1>Add Ninja</h1>
    <a href="/ninja/new">Add Ninja</a>
</body>
</html>